<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}!Welcome{% endblock %}</title>
        {% block stylesheets %}        
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
            {% stylesheets '@MariuszMBundle/Resources/public/css/common.css' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}"></script>
            {% endstylesheets %}            
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>        
{% endblock %}
</body>