{% extends 'MariuszMBundle::base.html.twig' %}
{% block body %}
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SitePoint</a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar-content">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Strona główna</a></li>
                    <li><a href="{{ path('project_index') }}">Project</a></li>
                    <li><a href="{{ path('task_index') }}">Task</a></li>
                    <li><a href="{{ path('dictonary_index') }}">Dictonary</a></li>
                    <li><a href="{{ path('company_index') }}">Company</a></li>
                    <li><a href="{{ path('person_index') }}">Person</a></li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">O nas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Zarząd</a></li>
                            <li><a href="#">Zespół programistów</a></li>
                            <li><a href="#">Zespół projektantów</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Inwestorzy</a></li>
                            <li><a href="#">Udziałowcy</a></li>
                        </ul>
                    </li>                    

                </ul>
            </div>
        </div>
    </div>

    {#       
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SitePoint</a>
            </div>
            <div class="collapse navbar-collapse">
                {{ knp_menu_render('MariuszMBundle:Builder:mainMenu') }}
            </div>
        </div>
    </div>
                    
    <ol class="breadcrumb">
        <li><a href="#">Strona główna</a></li>
        <li><a href="#">O nas</a></li>
        <li class="active">O autorze</li>
    </ol>
    #}

    <div class="container">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}        
        
        {% block contents %}{% endblock %}
    </div>    
    
<footer></footer>
{% endblock %}
