{% extends "MariuszMBundle::layout.html.twig" %}
{% block contents %}
    <h3>Task list</h3>
    <div>
        <a href="{{ path(urlNew) }}" class="btn btn-primary" role="button">Add</a>
    </div>    
    {% if items|length %}
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                {% block table_list_header %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% block table_list_item %}{% endblock %}
            </tr>
            {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-success">
        Data not found
    </div>        
{% endif %}
{% endblock %}
