{% extends "MariuszMBundle::layout.html.twig" %}
{% block contents %}
    <h3>Company list</h3>
    <div>
        <a href="{{ path('company_new') }}" class="btn btn-primary" role="button">Add</a>
    </div>
    {% if items|length %}
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>lp.</th>
                    <th>Name</th>
                    <th>Nip</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('company_edit', {'id' : item.id}) }}">{{ item.id }}</a>.</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.nip }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-success">
            Data not found
        </div>        
    {% endif %}
{% endblock %}
