{% extends "MariuszMBundle::layout.html.twig" %}
{% block contents %}
    <h3>Lista słowników</h3>
    <div>
        <a href="{{ path('dictonary_new') }}" class="btn btn-primary" role="button">Add</a>
    </div>
    {% if dictonaries|length %}
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>lp.</th>
                    <th>Type</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for dictonary in dictonaries %}
                    <tr>
                        <td><a href="{{ path('dictonary_edit', {'id' : dictonary.id}) }}">{{ dictonary.id }}</a>.</td>
                        <td>{{ dictonary.type }}</td>
                        <td>{{ dictonary.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-success">
            Data not found
        </div>        
    {% endif %}
{% endblock %}
