{% extends "MariuszMBundle:Form:form.html.twig" %}

{% block contents %}
    <h1>{{ formName }} {% if id %}edit ({{ id }}){% else %}creation{% endif %}</h1>

    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_widget(form) }}
    <div class="pull-left button-form"><button type="submit" class="btn btn-default">Save</button></div>
    {{ form_end(form) }}

    {% if id %}
        {{ form_start(delete_form, { 'attr': {'class': 'pull-left'} }) }}
        <div class="pull-left button-form">
            <button type="submit" class="btn btn-default button-delete">Delete</button>
        </div>
        {{ form_end(delete_form) }}          
    {% endif %}

    <div class="pull-left button-form">
        <a href="{{ path(urlIndex) }}" class="btn btn-default" role="button">Retrun</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@MariuszMBundle/Resources/public/js/form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

