{% extends "MariuszMBundle::layout.html.twig" %}
{% block contents %}
    <h3>Project list</h3>
    <div>
        <a href="{{ path(urlNew) }}" class="btn btn-primary" role="button">Add</a>
    </div>
    {% if items|length %}        
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>lp.</th>
                <th>Name</th>
                <th>Data od</th>
                <th>Data do</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('project_edit', {'id' : item.id}) }}">{{ loop.index }}</a>.</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.dateStart|date('Y-m-d') }}</td>
                    <td>{{ item.dateEnd|date('Y-m-d') }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% else %}
        <div class="alert alert-success">
            Data not found
        </div>        
    {% endif %}
{% endblock %}