{% extends "MariuszMBundle::list.html.twig" %}
{% block table_list_header %}
    <th>lp.</th>
    <th>Name</th>
    <th>Data od</th>
    <th>Data di</th>
    {% endblock %}

{% block table_list_item %}
    <td><a href="{{ path('task_edit', {'id' : item.id}) }}">{{ loop.index }}</a>.</td>
    <td>{{ item.name }}</td>
    <td>{{ item.dateStart|date('Y-m-d') }}</td>
    <td>{{ item.dateEnd|date('Y-m-d') }}</td>
{% endblock %}
