.form-horizontal .control-labelxxxx {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 1px;    
}

/* height: 28px; */
.form-controlxxxx {

    line-height: 1.42857;
    padding: 6px 6px;
}


.navxxxx {
    background: rgb(254,255,232);
    background: -moz-linear-gradient(top,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 94%);
    background: -webkit-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 94%);
    background: linear-gradient(to bottom,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 );


}



