{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nip</th>
                <th>Statusid</th>
                <th>Adder</th>
                <th>Added</th>
                <th>Modifier</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.nip }}</td>
                <td>{{ company.statusId }}</td>
                <td>{{ company.adder }}</td>
                <td>{% if company.added %}{{ company.added|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ company.modifier }}</td>
                <td>{% if company.modified %}{{ company.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
