{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Nip</th>
                <td>{{ company.nip }}</td>
            </tr>
            <tr>
                <th>Statusid</th>
                <td>{{ company.statusId }}</td>
            </tr>
            <tr>
                <th>Adder</th>
                <td>{{ company.adder }}</td>
            </tr>
            <tr>
                <th>Added</th>
                <td>{% if company.added %}{{ company.added|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td>{{ company.modifier }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if company.modified %}{{ company.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
