{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <div class="col-sm-2">{{ form_label(form) }}</div>            
            <div class="col-sm-10">{{ form_errors(form) }}{{ form_widget(form) }}</div>            
        </div>
    {% endspaceless %}
{% endblock form_row %}