{% extends "MariuszMBundle::layout.html.twig" %}
{% block contents %}





    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="aaaaaaaa_1" class="col-sm-2 control-label">Pole 1</label>
            <div class="col-sm-10"><input type="date" class="form-control" name="aaaaaaaa_1" id="aaaaaaaa" value="imie i naziwkso"></div>
        </div>

        <div class="pull-left" style="padding-right: 10px;"><button type="submit" class="btn btn-default">Zapisz</button></div>
    </form>            

    <form class="pull-left">
        <button type="submit" class="btn btn-default">Usun</button>
    </form>


    

{% endblock %}