<h3>Person list</h3>
<div>
    <a href="{{ path('company_new_person') }}" class="btn btn-primary" role="button">Add</a>
</div>
{% if adresses|length %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>id</th>
                <th>Surname</th>
                <th>Forename</th>
                <th>Pesel</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path(urlEdit, {'id' : item.id}) }}">{{ item.id }}</a>.</td>
                    <td>{{ item.surname }}</td>
                    <td>{{ item.forename }}</td>
                    <td>{{ item.pesel }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-success">
        Data not found
    </div>        
{% endif %}

